# SQLite for Data Scientists

#### Produced & Presented by Florents Tselai - [tselai.com](tselai.com)

# 4. Implementing Full-Text Search (FTS5)

### Virtual Tables in SQLite

A virtual table is an *object that is registered with an open SQLite database connection*. 

From the perspective of an SQL statement, the virtual table object looks like any other table or view. But behind the scenes, queries and updates on a virtual table invoke callback methods of the virtual table object instead of reading and writing on the database file.

The virtual table mechanism allows an application to **publish interfaces** that are accessible from SQL statements as if they were tables. 

SQL statements can do almost anything to a virtual table that they can do to a real table, with the following exceptions:

* One cannot create a trigger on a virtual table.
* One cannot create additional indices on a virtual table. (Virtual tables can have indices but that must be built into the virtual table implementation. Indices cannot be added separately using CREATE INDEX statements.)
* One cannot run ALTER TABLE ... ADD COLUMN commands against a virtual table.
* Individual virtual table implementations might impose additional constraints. For example, some virtual implementations might provide read-only tables. Or some virtual table implementations might allow INSERT or DELETE but not UPDATE. Or some virtual table implementations might limit the kinds of UPDATEs that can be made.

A virtual table might represent an in-memory data structures. Or it might represent a view of data on disk that is not in the SQLite format. Or the application might compute the content of the virtual table on demand.

## FTS5

In [1]:
import json
import pandas as pd
from sqlite3 import connect

DB_PATH = '../sqlite-olt.db'

In [2]:
with connect(DB_PATH) as db:
    comments_text_df = pd.read_sql("""
                    select 
                    json_extract(data, '$.objectID') as objectID,
                    json_extract(data, '$.author') as author,
                    json_extract(data, '$.comment_text') as comment_text,
                    json_extract(data, '$._tags') as tags,
                    length(json_extract(data, '$.comment_text')) as comment_text_length
                    from hn_items_raw
                    where comment_text notnull and tags notnull
                    """,db
                    )

In [3]:
comments_text_df['comment_text'][0]

'One of my proudest moments was finding a bug in SQLite where a corrupted index caused a select statement to segfault Firefox.<p>I jumped through a <i>lot</i> of hoops to get to the point where I got a backtrace that showed me the SQL statement of a corrupted places.sqlite. I then loaded SQLite on the data file, ran the statement and reproduced the segfault. One of their lead devs then got in contact with me, grabbed the data file and fixed the issue.<p>I suspect that not only did my diagnosis lead to a fix for a LOT of Firefox crashes, but it stopped a lot of frustrating crashes on things like iPhones, etc :-)<p>I may not have done the fix, but I took the time to reproduce the problem. It felt damn good :-)<p>P.S. in case anyone is interested, the bug is <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=581946" rel="nofollow">https://bugzilla.mozilla.org/show_bug.cgi?id=581946</a> on Mozilla, and at SQLite it\'s at <a href="http://www.sqlite.org/src/ci/83395a3d24" rel="nofollow">http://www.sqlite.org/src/ci/83395a3d24</a>'

FTS5 is an SQLite virtual table module that provides full-text search functionality to database applications. In their most elementary form, full-text search engines allow the user to efficiently search a large collection of documents for the subset that contain one or more instances of a search term. The search functionality provided to world wide web users by Google is, among other things, a full-text search engine, as it allows users to search for all documents on the web that contain, for example, the term "fts5".

To use FTS5, the user creates an FTS5 virtual table with one or more columns. For example:

CREATE VIRTUAL TABLE email USING fts5(sender, title, body);
It is an error to add types, constraints or PRIMARY KEY declarations to a CREATE VIRTUAL TABLE statement used to create an FTS5 table. Once created, an FTS5 table may be populated using INSERT, UPDATE or DELETE statements like any other table. Like any other table with no PRIMARY KEY declaration, an FTS5 table has an implicit INTEGER PRIMARY KEY field named rowid.

In [4]:
with connect(DB_PATH) as db:
    db.execute("""
    DROP TABLE IF EXISTS comments_fts;
    """)
    db.execute("""
    CREATE VIRTUAL TABLE comments_fts USING fts5(objectID, author, comment_text);
    """)
    
    db.execute("""
    DELETE FROM comments_fts;
    """)

In [5]:
with connect(DB_PATH) as db:
    comments_text_df[['objectID', 'author', 'comment_text']].to_sql('comments_fts', db, if_exists='append', index=False)

Once populated, there are three ways to execute a full-text query against the contents of an FTS5 table:

* Using a MATCH operator in the WHERE clause of a SELECT statement, or
* Using an equals ("=") operator in the WHERE clause of a SELECT statement, or
* using the table-valued function syntax.

If using the MATCH or = operators, the expression to the left of the MATCH operator is usually the **name of the FTS5 table** (the exception is when specifying a column-filter).

We usually search on the **whole table**

In [6]:
with connect(DB_PATH) as db:
    search_df = pd.read_sql("""
                    select *
                    from comments_fts
                    where comments_fts MATCH 'bane'
                    """,db
                    )
search_df

    objectID author                                       comment_text
0    5758957   bane  Fun SQLite story, I had a project that needed ...
1    4169320   bane  Sqlite is really just one of those rare softwa...
2    5760534   bane  (once again why HN is awesome)<p>Thank you tha...
3    5759117   bane  One thing to ponder about single user apps run...
4    6816146   bane  Anybody know how the defect rates in SQLite co...
..       ...    ...                                                ...
706  6816146   bane  Anybody know how the defect rates in SQLite co...
707  7886806   bane  Wait until you hear about &quot;fractal storag...
708  4661159   bane  I wonder if anybody has dared guestimate how m...
709  4740250   bane  It's a fun way to find sequential tokens (word...
710  4170028   bane  Oh it's clearly some of the best/worst kind of...

[711 rows x 3 columns]

In [7]:
search_df.iloc[0]['comment_text']

'Fun SQLite story, I had a project that needed to do reasonably large scale data processing (gigabytes of data) on a pretty bare boned machine in a pretty bare boned environment at a customer location. I had a fairly up-to-date perl install and notepad. For the process the data needed to look at any single element in the data and find elements similar to it. I thought long and hard about various complex data structures and caching bits to disk to make portions of the problem set fit into memory, and various ways of searching the data. It was okay if the process took a couple days to finish.<p>It suddenly hit me, I wonder if the sysadmins had installed DBD::SQLite...yes they had!<p>Why mess with all that crap if I could just use SQLite. Reasonably fast indexing, expressive searching tools, I could dump the data onto disk <i>and</i> use an in memory SQLite db at the same time, caching solved. It turned weeks of agonizing work (producing fragile code) and turned it into a quick 2 week coding romp. The project was a huge success and spread to a couple other departments.<p>One day they asked if I could advise a group to build a more "formal" implementation of the system as they were finding the results valuable. A half dozen developers and a year later they had succeeded in building a friendlier web interface running on a proper RDBMS (Oracle 10something) with some hadoop goodness running the processing stuff on 8 or 9 dedicated machines.<p>In the meantime, and largely because SQLite let me query into the data in more and more useful ways that I hadn\'t foreseen, I had extended the original prototype significantly and it was outperforming their larger scale solution on a 3 year old, <i>very unimpressive</i>, desktop with the same install of perl and sqlite. On top of the raw calculations, it was also performing some automated results analysis and spitting out ready to present artifacts that could be stuck in your presentation tool of choice. Guess which ones the users actually used?<p>Soon I had a users group, regular monthly releases and was running a semi-regular training class on this cooky command line tool (since most users had never seen a command line). I\'ve since finished that job up and moved on, and last I heard my little script using SQLite was in heavy use, the enterprise dev team was still struggling getting the performance of their solution up to the levels of my original script, and hadn\'t even touched the enhancements yet.<p>SQLite was rock-iron solid the entire time. I had a few things I wished it could do, but I usually found a way to manage. I wasn\'t using it for its feature, it existing <i>was</i> the feature. SQLite sprinkled magic on my one-off hack job and turned into a <i>thing</i> that people ended up using.'

We can of course search on specific columns

In [8]:
%%timeit
with connect(DB_PATH) as db:
    search_df = pd.read_sql("""
                    select *
                    from comments_fts
                    where comment_text MATCH 'SQLite'
                    """,db
                    )
search_df

236 ms ± 20.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
with connect(DB_PATH) as db:
    search_df = pd.read_sql("""
                    select *
                    from comments_fts
                    where comment_text LIKE '%SQLite%'
                    """,db
                    )
search_df

We can also order by relevance

In [ ]:
with connect(DB_PATH) as db:
    search_df = pd.read_sql("""
                    select *
                    from comments_fts
                    where comment_text MATCH 'SQLite'
                    order by rank
                    """,db
                    )
search_df

Auxiliary functions can be used to retrieve extra information regarding the matched row. 

For example, an auxiliary function may be used to retrieve a copy of a column value for a matched row with all instances of the matched term surrounded by html <b></b> tags.

In [ ]:
with connect(DB_PATH) as db:
    search_df = pd.read_sql("""
                    SELECT highlight(comments_fts, 2, '<b>', '</b>') as matches
                    FROM comments_fts
                    WHERE comment_text MATCH 'SQLite' and comment_text MATCH 'redis'
                    """,db
                    )
search_df

In [ ]:
search_df['matches'][1]

### Searching for strings

In [ ]:
with connect(DB_PATH) as db:
    search_df = pd.read_sql("""
                    SELECT highlight(comments_fts, 2, '<b>', '</b>') as matches
                    FROM comments_fts
                    WHERE comment_text MATCH '"database system"'
                    """,db
                    )
search_df

In [ ]:
search_df.matches[0]

### Searching for phrases

In [ ]:
with connect(DB_PATH) as db:
    search_df = pd.read_sql("""
                    SELECT highlight(comments_fts, 2, '<***>', '</***>') as matches
                    FROM comments_fts
                    WHERE comment_text MATCH 'Redis + sqlite'
                    """,db
                    )
search_df

In [ ]:
search_df['matches'][0]

### Prefix queries

In [ ]:
with connect(DB_PATH) as db:
    search_df = pd.read_sql("""
                    SELECT highlight(comments_fts, 2, '<***>', '</***>') as matches
                    FROM comments_fts
                    WHERE comment_text MATCH 'stats*'
                    """,db
                    )
search_df

In [ ]:
search_df['matches'][0]